

<td class="py-3 pl-3 text-start">
  <div class="pr-1"  >
   <span  class="text-sm text-muted-foreground" >{{schedule.startTime}}</span>

  </div>

</td>

<td class="py-3 pl-3 text-start">
  <div class="pr-1"  >
   <span  class="text-sm text-muted-foreground" >{{schedule.doctor?.user?.fullName}}</span>

  </div>

</td>


<td class="py-3 pl-3 text-start">
  <div class="pr-1"  >
   <span  class="text-sm text-muted-foreground" >{{schedule.consultingRoom?.roomName}}</span>

  </div>

</td>


<td class="py-3 pl-3 text-end">
  <div class="pr-1"  >
   <span  class="text-sm text-muted-foreground" >{{schedule.speciality?.name}}</span>

  </div>

</td>









